@import "../../App.scss";

.portfolio {
  position: relative;

  .progress {
    position: sticky;
    top: 0;
    left: 0;
    padding-top: 50px;
    text-align: center;
    color: orange;
    font-size: 36px;

    // h1 {
    //   font-size: 72px;
    //   line-height: 88px;
    //   color: orange;
    //   @include mobile {
    //     // margin-bottom: 30px;
    //     font-size: 1.875rem /* 30px */;
    //     line-height: 2.25rem /* 36px */;
    //   }
    // }

    .progressBar {
      height: 10px;
      background-color: white;
      @include mobile {
        margin-top: 10px;
      }
    }
  }

  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    overflow: hidden;

    .wrapper {
      max-width: 1366px;
      height: 100%;
      margin: auto;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 50px;

      @include mobile {
        padding: 10px 20px;
        flex-direction: column;
        height: calc(100% - 200px);
        gap: 0;
        margin-top: 170px;
      }
    }

    .imageContainer {
      flex: 1;
      height: 50%;
      width: 100%;
      align-items: center;
      margin-top: 160px;
      @include mobile {
        border-radius: 10px;
        margin-top: 40px;

        width: 100%;
        max-height: 300px;
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;

        @include mobile {
          object-fit: contain;
        }
      }
    }

    .textContainer {
      margin-top: 20px;
      flex: 1;
      display: flex;
      flex-direction: column;
      gap: 10px;

      @include mobile {
        transform: none !important;
        padding: 10px 0px;
        align-items: center;
        text-align: center;
      }

      h2 {
        font-size: 60px;

        @include mobile {
          font-size: 30px;
        }
      }

      p {
        color: gray;
        font-size: 20px;

        @include mobile {
          font-size: 16px;
        }
      }

      button {
        background-color: orange;
        border: none;
        border-radius: 10px;
        padding: 10px;
        color: #0c0c1d;
        width: 200px;
        cursor: pointer;
      }

      .stack{
        display:flex;
        gap: 5px;
        width: 100%;
        justify-content: center;

        align-items: center;

        .stack-item{
          background: orange;
          color:#0C0C1D;
          font-size: 14px;
          font-weight: 400;
          padding: 4px 6px;
          border-radius: 14px;
        }
      }
    }
  }
}
